{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}
  {% translate "Sign In" %}
{% endblock head_title %}


{% block inner %}

<section class=" ">
  <div class="flex flex-col items-center justify-center  mx-auto lg:py-0">
      <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 ">
<!--          <img class="w-8 h-8 mr-2" src="" alt="logo">-->
          {% translate "Sign In" %}
      </a>
      <div class="w-full bg-white rounded-lg shadow  md:mt-0 sm:max-w-md xl:p-0 ">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl ">
                  Sign in to your account
              </h1>
                  {% if form.errors %}
                    <div class="error text-red-500">
                      {% for field in form %}
                        {% for error in field.errors %}
                          <p class="text-sm">{{ error }}</p>
                        {% endfor %}
                      {% endfor %}
                      {% for error in form.non_field_errors %}
                        <p class="text-sm">{{ error }}</p>
                      {% endfor %}
                    </div>
                  {% endif %}
              <form class="space-y-4 md:space-y-6" method="post" action="{% url 'account_login' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                  <input type="hidden"
                         name="{{ redirect_field_name }}"
                         value="{{ redirect_field_value }}" />
                {% endif %}

                  <div>
                      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 ">Your email</label>
                      <input type="email" name="login" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Email" required>
                  </div>
                  <div>
                      <label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">Password</label>
                      <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required>
                  </div>
                  <div class="flex items-center justify-between">
                      <div class="flex items-start">
                          <div class="flex items-center h-5">
                            <input id="remember" aria-describedby="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300" required>
                          </div>
                          <div class="ml-3 text-sm">
                            <label for="remember" class="text-gray-500">Remember me</label>
                          </div>
                      </div>
                      <a href="{% url 'account_reset_password' %}" class="text-sm font-medium text-primary-600 hover:underline">Forgot password?</a>
                  </div>
                  <button type="submit" class="w-full bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center text-white">Sign in</button>
                  {% if ACCOUNT_ALLOW_REGISTRATION %}
                      <p class="text-sm font-light text-gray-500">
                        {% blocktranslate trimmed %}
                          If you have not created an account yet, then please
                          <a class="font-medium text-primary-600 hover:underline" href="{{ signup_url }}">sign up</a> first.
                        {% endblocktranslate %}
                      </p>
                  {% endif %}

              </form>
            {% get_providers as socialaccount_providers %}
             {% if socialaccount_providers %}
              <p>
                {% translate "Please sign in with one of your existing third party accounts:" %}
                {% if ACCOUNT_ALLOW_REGISTRATION %}
                  {% blocktranslate trimmed %}
                    Or, <a href="{{ signup_url }}">sign up</a>
                    for a {{ site_name }} account and sign in below:
                  {% endblocktranslate %}
                {% endif %}
              </p>
              <div class="socialaccount_ballot">
                <ul class="socialaccount_providers">
                  {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                </ul>
                <div class="login-or">{% translate "or" %}</div>
              </div>
              {% include "socialaccount/snippets/login_extra.html" %}
            {% else %}
            {% endif %}
          </div>
      </div>
  </div>
</section>
{% endblock inner %}
