{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}
  {% translate "Change Password" %}
{% endblock head_title %}

{% block inner %}
  <h1 class="text-2xl font-bold mb-6">{% translate "Change Password" %}</h1>
  <form method="post"
        action="{% url 'account_change_password' %}"
        class="space-y-4">
    {% csrf_token %}
    {% for field in form %}
      <div class="space-y-2">
        <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700">
          {{ field.label }}
        </label>
        {{ field }}
        {% if field.errors %}
          {% for error in field.errors %}
            <p class="text-red-500 text-xs italic">{{ error }}</p>
          {% endfor %}
        {% endif %}
      </div>
    {% endfor %}
    <button type="submit" name="action" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
      {% translate "Change Password" %}
    </button>
  </form>
{% endblock inner %}
