{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}
  {% translate "Password Reset" %}
{% endblock head_title %}

{% block inner %}
  <div class="max-w-2xl mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-6 text-gray-800">{% translate "Password Reset" %}</h1>
    {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p class="text-lg text-gray-600">
      {% blocktranslate %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktranslate %}
    </p>
  </div>
{% endblock inner %}
