.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode/*
!.vscode/*.code-snippets
!.vscode/*.code-workspace
!.vscode/extensions.json
!.vscode/settings.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.lock

# Python
.DS_Store
frontend/node_modules
/dist
/media
/tests/e2e/videos/
/tests/e2e/screenshots/
__pycache__/
*/__pycache__/
build/
dist/
media/
# local env files
.env.local
.env.*.local
.env
.env_*
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#json
package-lock.json

# Db file

db.sqlite3
.coverage